@import "~bootstrap/scss/bootstrap";

header{
  .bg-danger{
    opacity: 0.6;
  }
}

.cover-container{
  .bg-h1{
    background-color: white;
    opacity: 0.5;
    width: 500px;
    height: 200px;
    margin: 100px auto;

  }
  h1{
    padding-top: 65px;
    font-size: 45px;
    text-align: center;
    color:maroon;
    font-weight: bold;
    $enable-responsive-font-sizes: true;
  }
  .info{
    background-color: white;
    color:black;
    opacity: 0.5;
    width: 800px;
    height: 200px;
    margin: 100px auto;
    padding: 30px 100px;
  }
  .btn{
    z-index: 999;
    margin: 0 auto;
    display: block;
  }
  background-image: url("../images/bg-pizza.jpeg");
  height: 960px !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.navbar{
  .navbar-brand:hover{
    color: black;
  }
  a:hover{
    cursor: pointer;
  }
}

.menu{
  margin-top: 100px;
}

.menu-title{
    text-align: center;
    color: brown;
}

.maps{
  text-align: center;
  margin: 0 auto;
}

.contact{
  .contact-box{
    background: #ccc;
    padding: 20px;
    margin: 30px;
  }
  margin-top: 100px;
}

.block{
  display: block !important;
}